.admin{
    &__menu{
        width: 250px;
        mat-list-item{
            position: relative;
            cursor: pointer;
            &.active{
                background-color: rgba(#000,.15);
            }
        }
    }
    /deep/ mat-toolbar{
        position: relative;
        z-index: 100;
    }
}